html {
  .sidebar-menu-item {
    &:hover {
      color: white;
      // background-color: var(--chakra-colors-gray-200);
    }
  }

  .sidebar-menu-item-active {
    .sidebar-menu-item {
      color: black;
      background-color: var(--chakra-colors-white);
    }
  }

  .chakra-ui-dark {
    .sidebar-menu-item {
      &:hover {
        color: white;
        // background-color: var(--chakra-colors-gray-700);
      }
    }

    .sidebar-menu-item-active {
      .sidebar-menu-item {
        color: white;
        background-color: var(--chakra-colors-gray-700);
      }
    }
  }
}
